<div class="animated fadeInLeft wrapper">


  <header>
    <img src="qrpic.png" alt="qrlogo" />
    <h3>integrated social media connectivity</h3>
    <h2>at your fingertips</h2>
  </header>

  <div>
    <button id="signup" type="button" name="signup">Sign Up</button>
  </div>

  <div class="social-buttons">
    <img src="homesocialpic.png" alt="social" />
  </div>


</div>
