<div class="animated fadeInLeft wrapper">

  <header>
    <h2>Link your social media of choice</h2>
  </header>

  <main>
    <form action="/{{user}}/github/oauth" method="POST">
      <button class="oauth-buttons" id="github-auth" type="button" name="button"><i class="fa fa-github" aria-hidden="true"></i></button>
    </form>
    <form action="/{{user}}/pinterest/oauth" method="POST">
      <button class="oauth-buttons" id="pinterest-auth" type="button" name="button"><i class="fa fa-pinterest" aria-hidden="true"></i></button>
    </form>
    <form action="/{{user}}/instagram/oauth" method="POST">
      <button class="oauth-buttons" id="instagram-auth" type="button" name="button"><i class="fa fa-instagram" aria-hidden="true"></i></button>
    </form>
    <form action="/{{user}}/youtube/oauth" method="POST">
      <button class="oauth-buttons" id="youtube-auth" type="button" name="button"><i class="fa fa-youtube-play" aria-hidden="true"></i></button>
    </form>
  </main>

</div>
