<div class="animated fadeInLeft wrapper">

  <header>
    <h2>Link your social media of choice</h2>
  </header>

  <main>

      <button class="oauth-buttons" id="github-auth" type="button" name="button">
        <a href="/github/auth">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </button>

      <button class="oauth-buttons" id="pinterest-auth" type="button" name="button">
        <a href="/pinterest/auth">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </a>
      </button>

      <button class="oauth-buttons" id="instagram-auth" type="button" name="button">
        <a href="/instagram/auth">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </button>

      <button class="oauth-buttons" id="youtube-auth" type="button" name="button">
        <a href="/youtube/auth">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </button>

  </main>

  <form action="/logout?_method=DELETE" method="POST">
      <input id="logout" type="submit" name="logout" value="Logout">
  </form>


</div>
